<form action="/contacts/new">
<button type="submit">Add A Contact</button> 
</form>

<h2>Contacts List</h2> 

<div>
  <% @user.contacts.each do |attribute| %>
  <ul class="contact_index">
    <li><%=attribute.name%></li>
    <li><%=attribute.phone%></li>
    <li><%=attribute.email%></li>
    <li><%=attribute.address%></li><br>
    <a class="btn" href="/contacts/<%=attribute.id %>/show">View</a><br><br>
  </ul>
 <%end%>
</div>
