<li><%= @contact.name %></li>
<li><%= @contact.phone %></li>
<li><%= @contact.email %></li>
<li><%= @contact.address %></li>
<a href ="/contacts/<%= @contact.id %>/edit">Edit</a>
<form action="/contacts/<%= @contact.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<button type="submit">Delete</button><br><br>